#footer {
	clear:left;
	font-family: 'Abel';
	color:#626262;
	font-size:12px;
	margin:0;
	padding:10px 0 10px 20px;
	vertical-align:bottom;
	width:728px;
}

#footer a, #footer a:visited {
	color:#626262;
	font-weight:normal;
	text-decoration:underline;
}

#footer a:hover, #footer a:visited:hover {
	color:orange;
	font-weight:normal;
	text-decoration:underline;
}

#footer ul.contact {padding-bottom:10px}
#footer ul {
	margin:0;
	padding:0 0 11px;
}

#footer li {
	border-left:1px solid #777777;
	display:inline;
	list-style:none outside none;
	padding:0 6px;
}

#footer li.first {
	border-left:medium none;
	padding-left:0;
}