@import 'reset.css';
@import 'navbar.css';
@import 'footer.css';

body {
	font-family: Abel;
}

.container {
	max-width: 900px;
	margin:0 auto;
}

.about {
	padding-top: 30px;
}

.info {
	max-width: 23%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px;
	padding-top:120px;
}

.info img {
	border-radius: 30%;
	margin-bottom: 15px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}

.info h2,
.info p {
	margin: 0 auto;
	text-align: center;
}

.info h2 {
	font-size: 2em;
	line-height: 2.4em;
	font-weight:bold;
}
.info .links {
	margin-left:33%;
	margin-top:3%;
}

.bio {
	display: inline-block;
	max-width: 48%;
	padding: 0 40px 25px 40px;
}

.bio h4 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.7em;
	padding-top: 10px;
	padding-left: 20px;
	max-width: 45%;
	margin-bottom: 14px;
	border-bottom:1px solid;
}

.bio p {
	line-height: 1.4em;
	font-family: 'PT Sans';
}

.numbers {
	display: inline-block;
	max-width: 25%;
	vertical-align: middle;
	padding: 0 30px;
	margin-top: 35px;
}

.numbers h4 {
	color: #FFF;
	height: 70px;
	width: 110px;
	text-align: center;
	padding-top: 37px;
	font-size: 2.5em;
	font-weight: 600;
	border-radius: 50%;
	background: #FF7859;
	display: block;
	margin: 0 auto;

}

.numbers p {
	font-weight: 600;
	font-size: 1.2em;
	display: block;
	text-align: center;
	margin: 0 auto;
	line-height: 1.4em;
	padding: 10px 0 20px 0;
}

.groups {
	margin-top: 30px;
}

.groups h2 {
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom:15px;
	padding-bottom: 15px;
	padding-left: 10px;
	border-bottom: 2px solid #363636;
}

section {
	background: #BEF4F7;
	max-width: 47%;
	display: inline-block;
	margin: 10px;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.4);
}

section header {
	margin: 0 auto;
	max-width: 41%;
	padding: 15px 40px 8px 40px;
	border-bottom: 1px solid #3D3D3D;
	margin-bottom: 9px;
	color: #3D3D3D;
}


section header h3,
section header p {
	display: inline;
	padding-bottom: 10px;

}

section header h3 a {
	text-decoration: none;
	color:black;
}

header h3 {
	font-size: 1.7em;
	font-weight: 600;
}

section header p {
	font-style: italic;
}

.groupDescription {
	max-width: 57%;
	display: inline-block;
	padding: 0 0 10px 24px;
	vertical-align: middle;
}

section div h3 {
	font-size: 1.1em;
	line-height: 1.4em;
	padding: .5em 0 .5em 0;
}

section div p {
	font-family: 'PT Sans';
	font-size: .9em;
	line-height: 1.4em;

}

section img {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	border: 7px solid #fff;
	width: 130px;
}

.eventBy img {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
	padding: 7px;
	border: 1px solid #fff;
	margin: 5px;
}

.eventBy p {
	max-width: 40%;
	display: inline-block;
	vertical-align: middle;

}

.eventBy a {
	text-decoration: none;
	color: #DD3A11;
}

#footer {
	margin: 0 auto;
	margin-top:13%;
}

@media (max-width: 913px) {
	.container {
		max-width: 700px;
	}
	.about {
		padding-top: 5px;
	}
	nav header {
		margin-right:30%;
	}
	.info,
	.bio,
	.numbers {
		display: block;
		margin: 0 auto;
	}

	.info {
		max-width: 50%;
		display: block;
		margin: 0 auto;
	}

	.info img {
		padding: 0;
		margin-top: 20px;
	}

	.bio {
		max-width: 75%;
	}

	.bio p {
		font-size: .9em;
	}

	.numbers {
		max-width: 43%;
	}

	.members,
	.admin {
		display: inline-block;
	}

	.admin {
		float: right;
	}

	.groups h2 {
		text-align: center;
	}

	section {
		max-width: 46%;
	}

	section header {
		max-width: 54%
	}

	section div p {
		font-size: .8em;
		line-height: 1.3em;
	}

	section img {
		width: 87px;
		height: auto;
	}
	nav header {
		margin-right:20%;
	}

	.eventBy {
		max-width: 53%;
		margin: 0 auto;
	}
}




@media (max-width: 698px) {
	.container {
		max-width: 400px;
	}

	.info h2 {
		line-height: 1.5em;
	}

	.info img {
		margin-top: 8px;
	}
	nav header {
		margin-right:10%;
	}
	.bio h4 {
		margin: 0 auto;
		padding-left: 44px;
		margin-bottom: 15px;
		margin-top: 10px;
	}

	.bio p {
		text-align: center;
	}

	.numbers {
		max-width: 71%;
		padding-top: 15px;
	}

	section {
		display: block;
		margin: 0 auto;
		max-width: 92%;
		margin-bottom: 20px;
	}

	section img,
	.groupDescription {
		display: block;
		margin: 0 auto;
	}


	.groupDescription {
		text-align: center;
		padding: 0;
		padding-bottom: 15px;
		max-width: 67%;
	}

	nav header {
		margin-right:30%;
	}
	.eventBy {
		max-width: 76%;
		padding-left: 66px;
		font-size: .9em;
	}

}


























