@import 'reset.css';
@import 'navbar.css';
@import 'footer.css';

body {
	font-family: 'Helvetica';
	font-weight: 100;
}


div.container {
	background: #fff url(../img/Banner.jpg) no-repeat bottom;
	margin: 0 auto;
	margin-top: 5px;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.clearfix {
	overflow: auto;
}

header div div {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 7% 0 7%;
}

h1 {
	font-size: 3.5em;
	font-family: 'Abel', sans-serif;
}

header h1 {
	color: #fff;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 10px;
}

header p {
	color: #fff;
	font-size: 1em;
	width: 45%;
	line-height: 1.3em;
	float: right;
	padding-bottom: 75px;
	padding-top: 60px;
	padding-right: 10px;
}

.teamHeader h1 {
	color: #E7674A;
	background: #fff;
	max-width: 25%;
	margin-left: 10%;
	margin-top: 35px;

}





.content {
	max-width: 950px;
	margin: 0 auto;
	padding: 10px;
}

.team {
	margin-top: 35px;
	padding: 15px;
	max-width: 100%;
	display: inline-block;
}

.team img{
	width: 140px;
	height: 140px;
	border: 17px solid #fff;
	
}

.team p {
	line-height: 1.4em;
}

p span {
	font-weight: 600;
}


.horizontal img {
	vertical-align: middle;
}

.horizontal {
	display: inline-block;
/*	margin: 0 auto; */
	outline: 9px solid #E7674A;
	max-width: 47%;
	height: 180px;
	margin-bottom: 30px;
}

.horizontal p {
	max-width: 58%;
	display: inline-block;
	vertical-align: middle;
}

.vertical img {
	margin: 0 auto;
	display: block;
}

.primary {
	float: right;
	margin-left: 28px;
	display: inline-block;
}

.vertical {
	outline: 9px solid #E7674A;
	max-width: 30%;
	display: inline-block;
	margin-bottom: 50px;

}

.vertical.secondary {
	margin-right: 27px;
}



.vertical p {
	max-width: 180px;
	margin: 0 auto;
	padding: 10px;
}

.horizontal.primary {
	position: absolute;
	width: 430px;
	margin-left: 32px;
}

.horizontal.primary + .horizontal.primary {
	margin-top: 210px;
}


aside {
	outline: 2px solid #666;
	max-width: 30%;
	display: inline-block;
	float: right;
}

h2 {
	font-family: Abel;
	font-size: 2em;
	padding: 10px;
}

aside ul {
	max-width: 90%;
	margin: 0 auto;
}

aside ul li {
	padding: 10px;
}

aside a {
	text-decoration: none;
}
#footer {
	margin: 0 auto;
	margin-top: 4%;
}

@media (max-width: 985px) {
	.content {
		max-width: 700px;
	}

	.teamHeader h1 {
		font-size: 2.5em;
		max-width: 25%;
		margin-left: 14%;
		margin-top: 35px;
	}

	.team img{
		width: 100px;
		height: 100px;
		border: 16px solid #fff;		
	}

	.team p {
		font-size: .8em;
		line-height: 1.17em;
	}

	.horizontal {
		display: inline-block;
		outline: 7px solid #E7674A;
		max-width: 47%;
		height: 132px;
		margin-bottom: 30px;
	}

	.horizontal p {
		max-width: 50%;
		display: inline-block;
		vertical-align: middle;
	}

	.vertical img {
		margin: 0 auto;
		display: block;
	}

	.primary {
		margin-left: 18px;
	}

	.vertical {
		outline: 7px solid #E7674A;
		max-width: 22%;
	}

	.vertical.secondary {
		margin-right: 11px;
	}


	.vertical p {
		max-width: 180px;
		margin: 0 auto;
		padding: 10px;
	}

	.horizontal.primary {
		position: absolute;
		width: 310px;
		margin-left: 37px;
	}

	.horizontal.primary + .horizontal.primary {
		margin-top: 160px;
	}
	#footer {
		margin-top:10%;
	}

}


@media (max-width: 712px) {
	.content {
		max-width: 500px;
	}

	h1 {
	font-size: 2em;
	margin: 0 auto;
	max-width: 40%;
	}

	header h1 {
		padding-top: 15px;
		padding-bottom: 0;
		padding-left: 0;
	}

	header p {
		font-size: 1em;
		width: 80%;
		padding-bottom: 75px;
		padding-top: 20px;
		padding-right: 40;
		margin: 0 auto;
	}

	.teamHeader h1 {
		font-size: 2em;
		max-width: 25%;
		margin-left: 14%;
		margin-top: 25px;
	}

	.team img{
		width: 50px;
		height: 50px;
		border: 16px solid #fff;		
	}

	.team p {
		font-size: .5em;
		line-height: 1em;
	}

	.horizontal {
		display: inline-block;

		outline: 7px solid #E7674A;
		max-width: 48%;
		height: 90px;
		margin-bottom: 21px;
	}

	.horizontal p {
		max-width: 50%;
		display: inline-block;
		vertical-align: middle;
	}

	.vertical img {
		margin: 0 auto;
		display: block;
	}

	.primary {
		margin-left: 18px;
	}

	.vertical {
		margin-bottom: 21px;
	}

	.vertical.secondary {
		margin-right: 12px;
	}

	.horizontal.primary {
		position: absolute;
		width: 225px;
		margin-left: 10px;
	}

	.horizontal.primary + .horizontal.primary {
		margin-top: 110px;
	}
	#footer {
		margin-top:10%;
	}

}

@media (max-width: 520px) {
	.content {
		max-width: 300px;
	}

	h1 {
		font-size: 1.5em;
	}

	header p {
		font-size: .8em;
		width: 80%;
		padding-bottom: 30px;
		padding-right: 55;
	}

	.teamHeader h1 {
		font-size: 1.5em;
	}

	.team img{
		width: 50px;
		height: 50px;
		border: 16px solid #fff;		
	}

	.team p {
		font-size: .5em;
		line-height: 1em;
	}

	.horizontal,
	.vertical {
		display: block;
		max-width: 252px;
		position: relative;
		outline: 5px solid #E7674A;
		margin-left: 18px;
	}

	.horizontal.two {
		margin-top: 229px;
	}

	.vertical {
		margin-left: 0px;
	}

	.vertical img {
		display: inline-block;
		vertical-align: middle;
	}
	.vertical p {
		display: inline-block;
		vertical-align: middle;
		max-width: 50%;
	}

	.horizontal.primary {
		width: 252px;
		margin-left: 18px;
	}

	.vertical.secondary {
		margin-right: 0;
		margin-left: 18px;
	}
	#footer {
		margin-top:45%;
	}

}









